/* page content */
#page-content {
	margin: 0px auto;
	padding: 0px;
	height: inherit;

	@media screen and (max-width: $content-break) {
		width: 100%;
	}
	@media screen and (min-width: $content-break) {
		width: 1024px;
	}

}

$even-row-bg: #eaeaea;
.content-2-columns{
	@media screen and (max-width: $flex-grid-break-2) {
		width:100%;
	}
	@media screen and (min-width: $flex-grid-break-2) {
		float:left !important;
		width:50%;
	}
}
@media screen and (min-width: $flex-grid-break-2) {
	.content-2-columns:nth-child(2n+1){
		/*border-right:1px solid red;*/
		padding-right: 5px;
	}
	.content-2-columns:nth-child(4n+3){
		background: $even-row-bg;
	}
	.content-2-columns:nth-child(4n+4){
		background: $even-row-bg;
	}
}

@media screen and (max-width: $flex-grid-break-2) {
	.content-2-columns:nth-child(2n){
		background: $even-row-bg;
	}
}


#left-panel {
	@media screen and (max-width: $content-break-2){
		display:none;
	}
	@media screen and (max-width: $content-break) and (min-width: $content-break-2){
		width: $left-panel-size-after-break;
		float: left;
		text-align: left;

		li{
			padding-left: 10px;
			
			div{
				overflow: hidden;
			}
		}
	}
	@media screen and (min-width: $content-break) {
		width: $left-panel-size;
		float: left;
		text-align: center;
	}
}

.flex-container{
	display: flex;
	flex-wrap: wrap;

	@media screen and (max-width: $flex-grid-break-2){
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
}

/* video grid */
.flex-grid{
	margin-bottom:5px;
	

	@media screen and (max-width: $flex-grid-break-3){
		width:100%;
	}
	@media screen and (max-width: $flex-grid-break-2) and (min-width: $flex-grid-break-3){
		width:50%;
	}
	@media screen and (max-width: $flex-grid-break) and (min-width: $flex-grid-break-2){
		width:33%;
	}
	@media screen and (min-width: $flex-grid-break) {
		width:25%;
	}

}

/* navigation bar */
#navigation-bar {
	position: relative;

	@media screen and (max-width: $nav-bar-break) {
		height: $nav-bar-after-break;
	}
	@media screen and (min-width: $nav-bar-break) {
		height: $nav-bar-h;
	}
}

.navigation-bar-right {
	@media screen and (max-width: $nav-bar-break) {
		position: absolute;
		bottom: 0px;
		width: 100%;
		/*margin: 0px 1px;*/
	}
	@media screen and (min-width: $nav-bar-break) {
		position: relative;
		top: 8px;
		right: 10px;
		width: 240px;
		float: right;
	}
}

.navigation-bar-left {
	@media screen and (max-width: $nav-bar-break) {
		width: 100%;
		display: block;
	}
	@media screen and (min-width: $nav-bar-break) {
		height: inherit;
		width: $left-panel-size;
		float: left;
	}
}

/* embedded YT video */
#main-panel-content > iframe {
	/* effectively only usage is the embedded YT video */
	
	@media screen and (max-width: $video-to-fill-width) {
		/* TODO title overflow */
		width: 100%;
	}
	@media screen and (min-width: $video-to-fill-width) {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}
