#main-panel-header-strip {
	height: 7px;
	width: 100%;
}

.left-panel-size {
	width: 210px;
}

#navigation-bar {
	height: 50px;
}

.absolute-center{
	position: absolute;
	top: 50%;
	left: 50%;

	.centered{
		position: relative;
		left: -50%;
		top: -14px;
	}
}
.absolute-bottom-right{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.fill-whole{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.fill-width{
	position: relative;
	width: 100%;
}

#main-panel-content > iframe {
	max-width: 600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 15px;
}

#main-panel-content {
	padding: 5px 15px;
}

#video-comments {
	padding: 5px 10px;
	line-height: 2.0em;
}

#video-comments li {
	margin-bottom: 15px;
}

.video-comment-avatar {
	height: 80px;
}

.video-comment-name {
	display: inline;
}

.video-comment-text {
	padding-left: 15px;
	line-height: 1.6em;
}

#page-content {
	width: 1024px;
	margin: 0px auto;
	padding: 0px;
	height: inherit;
}

.ui-content-min-h {
	min-height: 500px;
}

.no-padding{
	padding: 0px !important;
}
.no-margin{
	margin: 0px !important;
}

.video-select-play > p{
	padding: 5px 15px;
}

.video-card-title {
	overflow-wrap: break-word;
	font-size: 13px;
}

.video-card-time {
	padding: 0px 3px;
}

.video-card-text {
	padding: 10px;
}

.video-card-text ul {
	font-size: 11px;
}