.state-button {
	transition: background-color 0.5s ease-out;
}
.state-button.active {
	background-color:hsl(0, 91%, 70%);
}
.state-button > div {
	background-color:transparent;
	transition: background-color 0.3s ease-out;
}
.state-button:not(.active):hover > div {
	background-color: rgba(255,255,255,0.5);
	color:#444;
}
.state-button.active:hover{
	background-color: rgba(255,0,255,0.5);
	cursor: default;
}

.hover-showable-child > div{
	opacity: 0;
	transition: opacity 0.5s;
}
.hover-showable-child:hover > div{
	opacity: 1;
}
.hover-underline:hover{
	text-decoration: underline;
}

.hoverable {
	opacity: 0.95;
	transition: opacity 0.3s ease-out;
}
.hoverable:hover {
	opacity: 1;
}

.focusable-input{
	border-bottom: 1px solid #d5d4d0;
	transition: border 0.3s;
}
.focusable-input:focus,
.focusable-input.focus {
  border-bottom: solid 2px white;
}

.action-good:hover{
	color: #1D7FAC !important;
}
.action-bad:hover{
	color: #EB1F44 !important;
}
.action-good{
	transition: color 0.2s;
}
.action-bad{
	transition: color 0.2s;
}