.fierce-red{
	background-color: #c74029;
	color: white;
}

.toned-red{
	background-color: hsl(0, 91%, 70%) !important;
}

.page-background {
	background: url('../images/img4.jpg') no-repeat center center fixed;
	background-size: cover;
}

.soft-white{
	background-color: #f2f2f0;
}
.soft-white-light{
	background-color: #f7f6f2;
}

.decorated-text{
	font-family: corbertregular;
}

.alt-text-color{
	color: #6b6a66;
}

.link-blue{
	color: #2793E6;
}