$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


$nav-bar-h: 50px;
$nav-bar-after-break: 90px;
$nav-bar-break: 480px;

$left-panel-size: 210px;
$left-panel-size-after-break: 150px;
$content-break: 1024px + 17;/* fix for scrollbar -> TODO ff count differently */
$content-break-2: 840px + 17;
$video-to-fill-width: 656px + 17; /* change from XXXpx to 100% */

$flex-grid-break: 700px;	/* 3 cols*/
$flex-grid-break-2: 550px;	/* 2 cols*/
$flex-grid-break-3: 350px;	/* 1 cols*/

@import 'utils';
@import 'layout';
@import 'theme';
@import 'modules';
@import 'state';

/* wtf */
#brand {
	font-size: 20px;
	line-height: $nav-bar-h;
	text-align: center;
}

#view-title {
	padding: 9px 25px;
	width: inherit;
}
