$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


$nav-bar-h: 50px;
$nav-bar-after-break: 90px;
$nav-bar-break: 480px;

$left-panel-size: 210px;
$left-panel-size-after-break: 150px;
$content-break: 1024px + 17;/* fix for scrollbar -> TODO ff counts differently */
$content-break-2: 840px + 17;
$video-to-fill-width: 656px + 17; /* change from XXXpx to 100% */


@import 'utils';
@import 'layout';
@import 'theme';
@import 'modules';
@import 'state';

/* wtf */
#brand {
	font-size: 20px;
	line-height: $nav-bar-h;
	text-align: center;

	@media screen and (max-width: $nav-bar-break) {
		width: 100%;
		display: block;
	}
	@media screen and (min-width: $nav-bar-break) {
		height: inherit;
		width: $left-panel-size;
		float: left;
	}
}
#view-title {
	padding: 9px 25px;
	width: inherit;
}



/*
TODO use bootstrap grid
 */
.video-card{
	width:32%;
	vertical-align: top;
	margin-bottom:5px;
	margin-right:5px;
}

.video-card:nth-child(3){
	margin-right:0px;
}
