$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

$left-panel-size: 210px;
$nav-bar-h: 50px;

@import 'utils';
@import 'layout';
@import 'theme';
@import 'modules';
@import 'state';

/* wtf */
#brand {
	font-size: 20px;
	line-height: $nav-bar-h;
	text-align: center;
	height: inherit;
}
#view-title {
	padding: 9px 25px;
	width: inherit;
}



/*
TODO use bootstrap grid
 */
.video-card{
	width:32%;
	vertical-align: top;
	margin-bottom:5px;
	margin-right:5px;
}

.video-card:nth-child(3){
	margin-right:0px;
}
