<!DOCTYPE html>
<html lang="en">

<head>
	<title>Web app 2</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Scthe" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Style sheets -->
	<link href="main.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
</head>

<!--
	background-color: hsl(0, 91%, 70%);
	background-color: hsl(170, 52%, 54%);

	1. log
		var printf = function(s) {console.log(s); alert(s);};
		printf("Hello World");

	2. translate
		 $('[data-translate]').each(function(){
			var $el = $(this);
			var key = $el.data('translate');

			if( $el.is('input') ) {
				$el.attr('placeholder', i18n.__(key));
			} else {
				$el.text(i18n.__(key));
			}
		});
-->

<body id="page-background">
	<div id="page-content">

		<!-- navbar -->
		<div id="navigation-bar" class="ui-mid-gray">
			<span id="navigation-bar-logout" class="glyphicon glyphicon-remove navigation-bar-icon hoverable"></span>
			<span id="navigation-bar-settings" class="glyphicon glyphicon-cog navigation-bar-icon hoverable"></span>
			<div id="navigation-avatar" class="navigation-bar-icon"></div>
			<span id="brand" class="left-panel-size">YouTube</span>
		</div>

		<!-- the left panel with navigation buttons -->
		<div id="navigation-panel" class="left-panel-size ui-content-min-h">
			<div id="search-bar">
				<input type="text" placeholder="Search..." />
				<span id="search-input-icon" class="glyphicon glyphicon-search"></span>
				<span id="search-loading">&nbsp;</span>
			</div>

			<ul id="channels-panel">
			</ul>
		</div>

		<!-- main content panel f.e. timeline, images, search etc. -->
		<div id="main-panel" class="ui-content-min-h">
			<header id="main-panel-header-strip"></header>
			<p id="view-title" class="text-big">
				<span class="glyphicon glyphicon-list-alt"></span>
				<span id="view-title-text">A's Channel</span>
			</p>
			<div id="main-panel-content">
			</div>

		</div>
		<div class="clear"></div>
	</div>

	

	<script type="text/template" id="channel-template">
		<div class="hover-white-glow">
			<div id="navigation-avatar" class="navigation-panel-btn-icon"></div> <!--TODO id's ?!-->
			<label><%= name %></label>
			<p class="black-overlay" style="<%= video_count>0?"":"visibility:hidden;" %>">
				<%= video_count %>
			</p>
		</div>
	</script>

	<script type="text/template" id="video-card-template">
		<section class="video-card-thumb">
			<img src="<%= thumbnail %>" />
			<span class="video-card-time"><%= time %></span>

			<!--overlay	-->
			<div class="black-overlay video-card-overlay"></div>
			<div class="video-select-play">
				<p>play</p>
			</div>
		</section>
		<section class="video-card-text">
			<span class="video-card-title"><%= name %></span>
			<ul>
				<li>
					Author:
					<span class="on-hover-link"><%= user %></span>
				</li>
				<li>
					<%= view_count %> views
				</li>
				<!--<span class="video-card-ago">5 days ago</span>-->
			</ul>
		</section>
	</script>
	
	<script type="text/template" id="video-template">
		<!-- TODO add back button ? -->
		<img src="<%= thumbnail %>" id="video"/>
		<section id="video-info" class="card">
			<div>
				<p id="video-date"><!-- TODO hardcoded -->
					<span>17th</span>
					<span>dec</span>
				</p>
				<span id="video-bookmark-icon" class="glyphicon glyphicon-bookmark"></span>
			</div>
			<ul class="text-small">
				<li>
					<span class="glyphicon glyphicon-user"></span>
					<%= user %>
				</li>
				<li>
					<span class="glyphicon glyphicon-comment"></span>
					3 Comments<!-- TODO hardcoded -->
				</li>
			</ul>

		</section>
		<button id="add_comment">AddComment</button>
		<ul id="video-comments" class="card-bg">
		</ul>
	</script>
	
	<script type="text/template" id="comment-template">
		<img src="<%= avatar %>" class="video-comment-avatar" />
		<div class="video-comment-text">
			<h3 class="video-comment-name"><%= author %></h3>
			<span class="video-comment-date on-hover-link text-small"><%= created_at %></span>
		</div>
		<div class="video-comment-text">
			<%= text %>
		</div>
	</script>
	

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>
	
	<script src="keys.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/models/subscription.js"></script>
	<script src="js/views/subscription.js"></script>
	<script src="js/models/video.js"></script>
	<script src="js/views/videoList.js"></script>
	<script src="js/views/video.js"></script>
	<script>
		/*
		var length = app.channelList.length;
		for (var i = 0; i < length; i++) {
			app.channelList.at(0).destroy();
		}*/
		//app.channelList.create(app.Channel.defaults);
		//app.channelList.create({active:true,name:"Abc",video_count:4});
		//app.channelList.create({video_count:0});
		//app.videoList.create();
		//app.videoList.create({name:"Aaaaaa",user:"Android",time:"2:41",view_count:"502",thumbnail: "imgs/img4.jpg"});
	</script>
	<script src="js/router.js"></script>

	
	<script src="https://apis.google.com/js/client.js?onload=executeGoogleApiCalls"></script>
</body>

</html>