<!DOCTYPE html>
<html lang="en">

<head>
	<title>YouTube player</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Scthe" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Style sheets -->
	<link rel="stylesheet" href="../styles/main.css" >
</head>

<body id="page-background">
	<div id="page-content">

		<!-- navbar -->
		<div id="navigation-bar" class="ui-mid-gray">
			<span id="navigation-bar-logout" class="glyphicon glyphicon-remove navigation-bar-icon hoverable"></span>
			<span id="navigation-bar-settings" class="glyphicon glyphicon-cog navigation-bar-icon hoverable"></span>
			<div id="navigation-avatar" class="navigation-bar-icon"></div>
			<span id="brand" class="left-panel-size">YouTube</span>
		</div>

		<!-- the left panel with navigation buttons -->
		<div id="navigation-panel" class="left-panel-size ui-content-min-h">
			<div id="search-bar">
				<input type="text" placeholder="Search..." />
				<span id="search-input-icon" class="glyphicon glyphicon-search"></span>
				<span id="search-loading">&nbsp;</span>
			</div>

			<ul id="channels-panel">
			</ul>
		</div>

		<!-- main content panel f.e. timeline, images, search etc. -->
		<div id="main-panel" class="ui-content-min-h">
			<header id="main-panel-header-strip"></header>
			<p id="view-title" class="text-big">
				<span class="glyphicon glyphicon-list-alt"></span>
				<span id="view-title-text">A's Channel</span>
			</p>
			<div id="main-panel-content">
			</div>

		</div>
		<div class="clear"></div>
	</div>

	

	<script type="text/template" id="channel-template">
		<div class="hover-white-glow">
			<div id="navigation-avatar" class="navigation-panel-btn-icon"></div> <!--TODO ids ?!-->
			<label><%= name %></label>
			<p class="black-overlay" style="<%= video_count>0?"":"visibility:hidden;" %>">
				<%= video_count %>
			</p>
		</div>
	</script>

	<script type="text/template" id="video-card-template">
		<section class="video-card-thumb">
			<img src="<%= thumbnail %>" />
			<span class="video-card-time"><%= time %></span>

			<!--overlay	-->
			<div class="black-overlay video-card-overlay"></div>
			<div class="video-select-play">
				<p>play</p>
			</div>
		</section>
		<section class="video-card-text">
			<span class="video-card-title"><%= name %></span>
			<ul>
				<li>
					Author:
					<span class="on-hover-link"><%= user %></span>
				</li>
				<li>
					<%= view_count %> views
				</li>
				<!--<span class="video-card-ago">5 days ago</span>-->
			</ul>
		</section>
	</script>
	
	<script type="text/template" id="video-template">
		<!-- TODO add back button ? -->
		<%= youTube_embed_Html %>
		<section id="video-info" class="card">
			<div>
				<p id="video-date"></p>
				<span id="video-bookmark-icon" class="glyphicon glyphicon-bookmark"></span>
			</div>
			<ul class="text-small">
				<li>
					<span class="glyphicon glyphicon-user"></span>
					<%= user %>
				</li>
				<li>
					<span class="glyphicon glyphicon-comment"></span>
					3 Comments<!-- TODO hardcoded -->
				</li>
			</ul>

		</section>
		<button id="add_comment">AddComment</button>
		<ul id="video-comments" class="card-bg">
		</ul>
	</script>
	
	<script type="text/template" id="comment-template">
		<img src="<%= avatar %>" class="video-comment-avatar" />
		<div class="video-comment-text">
			<h3 class="video-comment-name"><%= author %></h3>
			<span class="video-comment-date on-hover-link text-small"><%= created_at %></span>
		</div>
		<div class="video-comment-text">
			<%= text %>
		</div>
	</script>
	

	<script src='../bower_components/jquery/dist/jquery.min.js')></script>
	<script src='../bower_components/underscore/underscore.js')></script>
	<script src='../bower_components/backbone/backbone.js')></script>
	<script src='../bower_components/backbone.localStorage/backbone.localStorage-min.js')></script>

	<script src="keys.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/models/subscription.js"></script>
	<script src="scripts/views/subscription.js"></script>
	<script src="scripts/models/video.js"></script>
	<script src="scripts/views/videoList.js"></script>
	<script src="scripts/views/video.js"></script>
	<script src="scripts/router.js"></script>

	
	<script src="https://apis.google.com/js/client.js?onload=executeGoogleApiCalls"></script>
</body>

</html>