<!DOCTYPE html>
<html lang="en">

<head>
	<title>YouTube player</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Scthe" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Style sheets -->
	<link rel="stylesheet" href="../styles/main.css" >
</head>

<body class="page-background">
	
	<!-- navbar -->
	<div id="navigation-bar" class="fierce-red fierce-red-bottom-separator">
		
		<!-- app title -->
		<span id="brand" class="activable decorated-text">YouTube</span>

		<!-- search bar-->
		<div id="search-bar" class="navigation-bar-right">
			<input type="text" class="small-paddings-square no-margin fill-width" placeholder="Search..." />
			<span id="search-input-icon" class="glyphicon glyphicon-search"></span>
			<span id="search-loading">&nbsp;</span>
		</div>
	</div>

	<div id="page-content">

		<!-- the left panel with navigation buttons -->
		<div id="left-panel">
			<ul id="channels-panel">
			</ul>
		</div>

		<!-- main content panel -->
		<div class="hide-overflow soft-white channel-content-separator">
			
			<p id="view-title" class="text-big alt-text-color soft-white-light section-border">
				<span class="glyphicon glyphicon-list-alt"></span>
				<span id="view-title-text" class="decorated-text">A's Channel</span>
			</p>

			<!-- TODO use bootstrap grid -->
			<div id="main-panel-content" class="std-paddings">
			</div>

		</div>
		<div class="clear"></div>
	</div>

	

	<script type="text/template" id="channel-template">
		<div class="hover-white-glow">
			<!--TODO channel avatar, remove button-->

			<label><%= name %></label>

			<p class="black-overlay" style="<%= videoCount > 0 ? "" : "visibility:hidden;" %>">
				<%= videoCount %>
			</p>
		</div>
	</script>

	<script type="text/template" id="video-card-template">

		<!-- thumbnail -->
		<section class="fill-width hover-showable-child">
			<img src="<%= thumbnail %>" />
			<span class="small-padding-horizontal semi-transparent absolute-bottom-right"><%= time %></span>

			<!-- overlay -->
			<div class="activable hover-showable black-overlay fill-whole"></div>
			<div class="activable hover-showable text-white absolute-center">
				<p class="activable centered turquoise std-paddings">play</p>
			</div>
		</section>

		<section class="text-mid-gray no-margin std-paddings-square">
			<span class="break-word-overflow text-small activable link-blue hover-underline"><%= name %></span>
			<ul class="no-padding no-margin text-mid-gray text-small">
				<li>
					Author: <span class="on-hover-link"><%= user %></span>
				</li>
				<li>
					<%= view_count %> views
				</li>

				<!-- TODO add > uploaded X ago -->
			</ul>
		</section>
	</script>
	
	<script type="text/template" id="video-template">
		<!-- becomes iframe -->
		<%= youTube_embed_Html %>

		<!-- TODO add author, upload date, #comments, comments list info -->
		<!-- <ul id="video-comments" class="card-bg std-paddings"></ul> -->
	</script>
	
	<script type="text/template" id="comment-template">
		<img src="<%= avatar %>" class="video-comment-avatar pull-left" />
		<div class="video-comment-text">
			<h3 class="video-comment-name comment-misc text-normal"><%= author %></h3>
			<span class="comment-misc on-hover-link text-small">
				<%= createdAt %>
			</span>
		</div>
		<div class="video-comment-text hide-overflow">
			<%= text %>
		</div>
	</script>
	

	<script src='../bower_components/jquery/dist/jquery.min.js')></script>
	<script src='../bower_components/underscore/underscore.js')></script>
	<script src='../bower_components/backbone/backbone.js')></script>
	<script src='../bower_components/backbone.localStorage/backbone.localStorage-min.js')></script>

	<script src="keys.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	
	<script src="scripts/models/channel.js"></script>
	<script src="scripts/models/channelList.js"></script>
	<script src="scripts/models/video.js"></script>
	<script src="scripts/models/videoList.js"></script>
	<script src="scripts/models/comment.js"></script>
	<script src="scripts/models/commentList.js"></script>
	
	<script src="scripts/views/channelListItemView.js"></script>
	<script src="scripts/views/channelListView.js"></script>
	<script src="scripts/views/videoListItemView.js"></script>
	<script src="scripts/views/videoListView.js"></script>
	<script src="scripts/views/commentListItemView.js"></script>
	<script src="scripts/views/commentListView.js"></script>
	<script src="scripts/views/videoView.js"></script>
	
	<script src="scripts/router.js"></script>

	
	<script src="https://apis.google.com/js/client.js?onload=executeGoogleApiCalls"></script>

	<script>
		/*
		var length = app.channelList.length;
		for (var i = 0; i < length; i++) {
			app.channelList.at(0).destroy();
		}*/
		app.channelList.create(app.Channel.defaults);
		app.channelList.create({active:true,name:'Abc',videoCount:4});
		app.channelList.create({videoCount:0});

		for( var i=0; i < 5; i++){
			/*jshint camelcase: false */
			app.videoList.create({
				name: 'Video: '+i,
				user: 'User A',
				time:'2:41',
				view_count:'502',
				thumbnail: 'images/img5.png'
				// thumbnail: e.snippet.thumbnails["default"].url,
				// created_on: e.snippet.publishedAt,
				// youTube_id:e.id.videoId // TODO when the search result is a channel this will be undefined
			});
		}
	</script>
	
</body>

</html>