<!-- thumbnail -->
<section class="fill-width hover-showable-child">
	<img src="<%= thumbnail %>" />
	<span class="small-padding-horizontal semi-transparent absolute-bottom-right text-white"><%= time %></span>

	<!-- overlay -->
	<div class="video-link activable hover-showable black-overlay fill-whole"></div>
	<div class="video-link activable hover-showable text-white absolute-center">
		<p class="video-link activable centered turquoise std-paddings">play</p>
	</div>
</section>

<section class="text-mid-gray no-margin std-paddings-square hide-overflow">
	<span class="video-link text-small activable link-blue hover-underline"><%= name %></span>
	<ul class="no-padding no-margin text-mid-gray text-small">
		<li>
			Author: <span class="on-hover-link"><%= user %></span>
		</li>
		<li>
			<%= view_count %> views
		</li>
	</ul>
</section>