<!-- thumbnail -->
<section class="fill-width hover-showable-child">
	<img src="<%= thumbnail %>" />
	<!-- TODO add video duration
	<span class="small-padding-horizontal semi-transparent absolute-bottom-right text-white"><%= duration %></span>
	-->

	<!-- overlay -->
	<div class="video-link activable hover-showable black-overlay fill-whole"></div>
	<div class="video-link activable hover-showable text-white absolute-center">
		<p class="activable centered turquoise std-paddings">play</p>
	</div>
</section>

<section class="text-mid-gray no-margin std-paddings-square hide-overflow">
	<span class="video-link text-small act-as-link"><%= title %></span>
	<ul class="no-padding no-margin text-mid-gray text-small">
		<li>
			Author: <span class="id-channel act-as-hidden-link"><%= channelTitle %></span>
		</li>
	</ul>
</section>